@page "/Books"
<h3>Books</h3>

Naast side-projects en hout bewerking, vind ik soms nog wat tijd om een boek te lezen. Hieronder een lijstje met een paar (niet alle) boeken die ik heb gelezen die wat mij betreft de moeite waard zijn en me hebben geïnspireerd of aan het lachen gemaakt, of allebei 😜

Hieronder een kleine selectie mijn goodreads lijst :
<script src="//nerdiedad.com/tools/rss-to-html/?url=https%3A%2F%2Fwww.goodreads.com%2Freview%2Flist_rss%2F117942824%3Fkey%3DZ5aEA7IBrHo67yrVc4uTKg0wzWjhQHFP88fIJFN6p9lhWL0b%26amp%3Bshelf%3Dread&detail=-1&limit=20&showtitle=false&type=js"></script>